<%content_for :page_title do%>About<%end%>
<%content_for :page_header do%>About<%end%>
<%content_for :page_description do%>About golfingscores.com, a short history.<%end%>

<div class="well">
<p class="about_p">
Golfingscores.com began in 2003 as an attempt to analyze and improve my golf game. I started keeping all of my scorecards and would occasionally go back and look through them. That lasted for about one season before it became too cumbersome.
</p>
<p class="about_p">
Next I began recording all of my scores in an excel spreadsheet which was easier. I was able to analyze my scores and look for trends. The spreadsheet would calculate a handicap with the help of some VBA macros but was very tricky to update and maintain. As I started to play more golf I wanted to be able to enter rounds from every course I played, not just my home course. Maintaining multiple courses proved too complex for a spreadsheet so I decided to create an online application and golfingscores.com was born.
</p>
<p class="about_p">
I am constantly adding features. I have a longer list than I have time but still like feedback from users.
</p>
<a href="mailto:garthmcgraw@statgolf.com" class="about_p">Garth McGraw</a>
</div>
