<%content_for :page_header do%>Statgolf.com<%end%>

<h3>Record all your golf scores forever.</h3>
<h3>Know your handicap.</h3>
<h3>Record putts, fairways, penalties, greens in regualtion, ...</h3>
<h3>Get cool graphs to improve your game.</h3>
<h3>$10.99 per year.</h3>
<a class="btn btn-primary btn-lg" id="sign_up_button" href="/users/sign_up" role="button" >Sign up now cuz you're awesome!</a> 
