<%content_for :page_title do%>You No Authorized<%end%>
<%content_for :page_header do%>Nope<%end%>
<%content_for :page_description do%>You are not authorized to view the page you requested.<%end%>
<h2>
				Your request was sent to the
				<span class="glyphicon glyphicon-trash"></span>
				because you are not authorized to view that page.
</h2>