<%content_for :page_title do%>Charts<%end%>
<%content_for :page_header do%>Charts<%end%>


<div id="score_history_chart_18_hole"></div>
<div id="score_history_chart_9_hole"></div>
<div id="average_putts_per_green_per_round"></div>
<div id="putt_distribution_column_chart"></div>
<div id="putt_distribution_pie_chart"></div>
<div id="gir_pie_chart"></div>


