<%content_for :page_title do%>Cancel Subscription<%end%>
<%content_for :page_header do%>Cancel Subscription<%end%>
<%content_for :page_description do%>Confirmation of subscription cancellation.<%end%>

<p>
	Your subscription has been cancelled.  Sorry to see you go.  We will keep all your scores if you ever decide you want to re-subscribe.
</p>
<p>
	If you are so inclined, tell us why you decided to cancel your subscription:  <a href="mailto:support@golfingscores.com">support@golfingscores.com</a>.
</p>