<%content_for :page_title do%>Cancel Subscription<%end%>
<%content_for :page_header do%>Cancel Subscription<%end%>

<p>
	NO!!!!  We are sorry to see you go.  Let's cancel your subscription.  :(
</p>

<%= button_to "Cancel My Suscription", settings_cancel_subscription_path, class: "btn btn-primary btn-lg"%>