<%content_for :page_title do%>Cancel Subscription<%end%>
<%content_for :page_header do%>Cancel Subscription<%end%>

<p>
	NO!!!!  We are sorry to see you go.  Are you sure you want to...
</p>

<%= button_to "Cancel Suscription", settings_cancel_subscription_path, class: "btn btn-primary btn-lg"%>