<%content_for :page_title do%>Change Subscription<%end%>
<%content_for :page_header do%>Change Subscription<%end%>

<p>Let's change your subscription!</p>
<%= button_to "Change My Suscription", settings_change_subscription_path, class: "btn btn-primary btn-lg"%>