<%content_for :page_title do%>Change Subscription<%end%>
<%content_for :page_header do%>Change Subscription<%end%>
<%content_for :page_description do%>Confirmation of subscription change.<%end%>

<p>Your subscription has been changed!</p>