<%content_for :page_title do%>Renew Subscription<%end%>
<%content_for :page_header do%>Renew Your Subscription<%end%>
<%content_for :page_description do%>Renew a subscription after cancellation.<%end%>

<p>
	Looks like you dropped your subscription.  We haven't lost any of your golf scores.  Resubscribe and give us a try again.
	After you sign back up you can change to a different subscription plan if you like.
</p>

<%= form_for(settings_renew_subscription_path, html: { id: "new_user" }) do |f| %>
  <span class="payment-errors"></span>

  <%= render "partials/stripe_cc_fields" %>

  <div class="actions">
    <%= f.submit "Renew Subscription", class: "btn btn-primary btn-lg submit"  %>
  </div>
<% end %>