<%content_for :page_title do%>Renew Subscription<%end%>
<%content_for :page_header do%>Renew Subscription<%end%>
<%content_for :page_description do%>Confirmation of subscription renewal.<%end%>

<p>Your subscription has been renewed!</p>