<%content_for :page_title do%>Renew Subscription<%end%>
<%content_for :page_header do%>Renew Your Subscription<%end%>

<p>
	Looks like you dropped your subscription.  We haven't lost any of your golf scores.  Give us a try again.
</p>

<%= button_to "Renew Subscription", settings_renew_subscription_path, class: "btn btn-primary btn-lg"%>