<%content_for :page_title do%>New Course<%end%>
<%content_for :page_header do%>New Course<%end%></h2>
<%content_for :page_description do%>Enter a new golf course.<%end%>

<%= render "partials/form_for_course" %>
