#score_history_chart_18_hole{
	/*border-style: solid;
	border-color: red;*/
	width: 1000px;
	height: 350px;
}

#score_history_chart_9_hole{
	/*border-style: solid;
	border-color: red;*/
	width: 1000px;
	height: 300px;
}

#average_putts_per_green_per_round{
	/*border-style: solid;
	border-color: red;*/
	width: 1000px;
	height: 300px;	
}

#putt_distribution_column_chart{
	/*border-style: solid;
	border-color: red;*/
	width: 1000px;
	height: 300px;	
}
#putt_distribution_pie_chart{
	/*border-style: solid;
	border-color: red;*/
	width: 500px;
	height: 300px;	
}
#gir_pie_chart{
	/*border-style: solid;
	border-color: red;*/
	width: 500px;
	height: 300px;	
}
.tool_tip{
/*	border-style: solid;
	border-color: red;*/
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}