// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#course_select_div{
	display: none;
}

#tee_select_div{
	display: none;
	margin-bottom: 2em;
}

#scorecard_holes_table{
	display: none;
}

#create_score_button{
	display: none;
}

.delete_score_link {
	float: right;
}

#HandiDiv{
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	width: 125px;
	border-radius: 15px;
	margin-top: 35px;
}

#Handicap_Label{
	background-color: lightblue;	
	text-align: center;
	font-size: 1.5em;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#Handicap_Score{
	text-align: center;
	font-size: 2em;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.welcome_message{
	font-size: 2em;
}
.call_to_enter_course{
	font-size: 1.3em;	
}

.handicap_score{
	color: red;	
}
