// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tee_select_div{
	display: none;
}

#scorecard_holes_table{
	display: none;
}

#create_score_button{
	display: none;
}