// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_up_button {
	margin-top: 50px;
	margin-bottom: 25px;
	width: 200px;
	font-size: 2em;
}

#change_subscription_button {
	margin-top: 50px;
	margin-bottom: 25px;
	width: 250px;
	font-size: 1.5em;
}

#plans {
	margin-right: 25px;
	margin-bottom: 25px;
}

.plan{
	float: left;
}


.plan_header {
	background-color: lightblue;
	width: 300px;
	height: 75px;
	border-style: solid solid none;
	border-width: 2px;
	border-color: gray;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align: center;
}


.plan_content {
	width: 300px;
	height: 500px;
	border-style: none solid solid solid;
	border-width: 2px;
	border-color: gray;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	text-align: center;
}

.plan_features{
	text-align: left;	
	margin-left: 15px;
}

.plan_details {
	height: 350px;
}


.plan_header > h3 {
	color: white;
	font-size: 3em;
}


.plan_top > .plan_price {
	font-size: 5em;
}

#Amateur_Plan {
	margin-right: 50px;
	margin-top: 50px;
}

#Club_Plan {
	margin-right: 50px;
	margin-top: 50px;
}

#Pro_Plan {
	margin-right: 50px;
	margin-top: 50px;
}

.per_year {
	font-size: 1.5em;
	color: gray;
	margin-bottom: 15px;
}

.feature_line {
	font-size: 1.75em;
}


.current_plan {
	font-size: 1.5em;
	color: gray;
	margin-top: 55px;
}

.included_feature{
	margin-left: 10px;
}

.not_included_feature{
	margin-left: 10px;
	color: gray;
	text-decoration: line-through;
}

.homepage_list{
	font-size: 1.5em;
}