// Place all the styles related to the tees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center_content {
	text-align: center;
	//width: 50px;
}

.scorecard_hole_number {
	text-align: center;
}

.scorecard_label {
	font-weight: bold;
}

#Tee_Display_Section{
	margin-top: 75px;
	margin-left: 5px;
	margin-right: 5px;
}